In [1]:
import pandas as pd

In [23]:
ne=pd.read_csv("players_15.csv")

In [24]:
ne

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15461,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
15462,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0
15463,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

In [25]:
ne.shape

(15465, 104)

In [26]:
ne.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15465 entries, 0 to 15464
Columns: 104 entries, sofifa_id to rb
dtypes: float64(17), int64(11), object(76)
memory usage: 12.3+ MB

In [27]:
#Menghitung Jumlah Atribut Dengan Nlai Null
ne.isna().any().sum()

49

In [28]:
#Menampilkan Mean, Max, Min, Standar deviasi,Q1,Q2,Q3
ne.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,mentality_composure
count,15465.000000,15465.000000,15465.000000,15465.000000,15465.000000,15465.000000,15465.0,15465.0,15465.000000,15465.000000,...,13762.000000,13762.000000,13762.000000,1703.000000,1703.000000,1703.000000,1703.000000,1703.000000,1703.000000,0.0
mean,189298.588425,24.763272,181.093631,75.482703,63.948594,68.483091,0.0,0.0,1.126350,2.932363,...,60.617861,50.000799,64.602456,64.709336,60.823840,59.455079,65.955373,43.900763,61.230182,NaN
std,39648.820272,4.624565,6.635182,6.907243,7.208610,6.611708,0.0,0.0,0.401362,0.652270,...,10.800142,15.850317,9.698882,7.855747,8.510626,8.689929,8.374343,8.440858,9.188257,NaN
min,2.000000,16.000000,155.000000,50.000000,40.000000,40.000000,0.0,0.0,1.000000,1.000000,...,25.000000,21.000000,28.000000,35.000000,36.000000,21.000000,31.000000,20.000000,38.000000,NaN
25%,178043.000000,21.000000,176.000000,70.000000,59.000000,64.000000,0.0,0.0,1.000000,3.000000,...,54.000000,33.000000,58.000000,59.000000,55.000000,53.000000,60.000000,39.000000,54.000000,NaN
50%,200844.000000,24.000000,181.000000,75.000000,64.000000,68.000000,0.0,0.0,1.000000,3.000000,...,62.000000,53.000000,66.000000,64.000000,61.000000,59.000000,65.000000,44.000000,61.000000,NaN
75%,214326.000000,28.000000,186.000000,80.000000,69.000000,73.000000,0.0,0.0,1.000000,3.000000,...,68.000000,63.000000,72.000000,70.000000,67.000000,65.000000,72.000000,49.000000,68.000000,NaN
max,225562.000000,44.000000,203.000000,110.000000,93.000000,95.000000,0.0,0.0,5.000000,5.000000,...,96.000000,90.000000,91.000000,88.000000,87.000000,92.000000,90.000000,66.000000,90.000000,NaN

In [29]:
#Menghitung median dari atribut
dm = ne["sofifa_id"].median()

In [30]:
dm

200844.0

In [31]:
#Menghitung Nilai Maksimum dari Atribut index
ne["sofifa_id"].max()

225562

In [32]:
#Menampilkan Nilai Korelasi Tipe Data Angka
ne.corr()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,mentality_composure
sofifa_id,1.000000,-0.699146,-0.096057,-0.166339,-0.388582,-0.077283,NaN,NaN,-0.375477,-0.100527,...,-0.150765,-0.196326,-0.302955,-0.354744,-0.412756,-0.315085,-0.338896,0.053817,-0.453938,NaN
age,-0.699146,1.000000,0.084419,0.211907,0.436108,-0.071597,NaN,NaN,0.281662,0.085481,...,0.123847,0.253984,0.413222,0.392497,0.476644,0.366225,0.361764,-0.075734,0.532869,NaN
height_cm,-0.096057,0.084419,1.000000,0.766069,0.050320,0.014681,NaN,NaN,0.051868,-0.171127,...,-0.401927,0.236464,0.476939,0.154704,0.166358,0.131471,0.146451,-0.092596,0.181184,NaN
weight_kg,-0.166339,0.211907,0.766069,1.000000,0.124379,0.016278,NaN,NaN,0.085531,-0.129926,...,-0.315426,0.224543,0.555712,0.209655,0.235469,0.218895,0.213276,-0.111404,0.254701,NaN
overall,-0.388582,0.436108,0.050320,0.124379,1.000000,0.805234,NaN,NaN,0.524089,0.227190,...,0.585629,0.281077,0.494080,0.924241,0.913703,0.768422,0.920712,0.174653,0.926101,NaN
potential,-0.077283,-0.071597,0.014681,0.016278,0.805234,1.000000,NaN,NaN,0.413315,0.197110,...,0.552490,0.148502,0.260345,0.784107,0.728823,0.621306,0.789166,0.202736,0.707424,NaN
value_eur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wage_eur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
international_reputation,-0.375477,0.281662,0.051868,0.085531,0.524089,0.413315,NaN,NaN,1.000000,0.117864,...,0.289529,0.149828,0.221381,0.495158,0.466320,0.409001,0.467689,0.138791,0.483683,NaN
weak_foot,-0.100527,0.085481,-0.171127,-0.129926,0.227190,0.197110,NaN,NaN,0.117864,1.000000,...,0.305109,-0.116392,-0.009878,0.112033,0.104294,0.159514,0.076760,0.077657,0.104712,NaN
skill_moves,-0.025279,-0.002690,-0.415948,-0.360841,0.275949,0.281444,NaN,NaN,0.152410,0.337714,...,0.577238,-0.402723,-0.201689,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_clause_eur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
team_jersey_number,0.172217,-0.242060,-0.053358,-0.091308,-0.201678,-0.060363,NaN,NaN,-0.075672,-0.049778,...,-0.040107,-0.147017,-0.210131,-0.233549,-0.281133,-0.202861,-0.237611,-0.090765,-0.272102,NaN
contract_valid_until,0.205457,-0.120650,-0.114423,-0.084374,-0.136511,-0.091965,NaN,NaN,-0.052520,-0.082605,...,-0.071904,-0.041780,-0.109597,-0.125338,-0.138673,-0.121245,-0.154036,0.053689,-0.132989,NaN
nation_jersey_number,0.059244,-0.069613,-0.086122,-0.037931,-0.077572,-0.034468,NaN,NaN,-0.131023,0.016940,...,0.139419,-0.222169,-0.120648,-0.215253,-0.173258,-0.123101,-0.195344,-0.220552,-0.195799,NaN
pace,0.168001,-0.203070,-0.392234,-0.353380,0.236068,0.328577,NaN,NaN,0.047215,0.140406,...,0.568743,-0.265055,-0.137010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shooting,-0.217757,0.204802,-0.171460,-0.090947,0.506429,0.425733,NaN,NaN,0.291963,0.307224,...,0.757083,-0.448148,-0.011991,NaN,NaN,NaN,NaN,NaN,NaN,NaN
passing,-0.314294,0.306381,-0.257061,-0.184824,0.666238,0.538546,NaN,NaN,0.368907,0.279482,...,0.797534,0.097274,0.139823,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dribbling,-0.150765,0.123847,-0.401927,-0.315426,0.585629,0.552490,NaN,NaN,0.289529,0.305109,...,1.000000,-0.250639,-0.065665,NaN,NaN,NaN,NaN,NaN,NaN,NaN
defending,-0.196326,0.253984,0.236464,0.224543,0.281077,0.148502,NaN,NaN,0.149828,-0.116392,...,-0.250639,1.000000,0.569548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
physic,-0.302955,0.413222,0.476939,0.555712,0.494080,0.260345,NaN,NaN,0.221381,-0.009878,...,-0.065665,0.569548,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gk_diving,-0.354744,0.392497,0.154704,0.209655,0.924241,0.784107,NaN,NaN,0.495158,0.112033,...,NaN,NaN,NaN,1.000000,0.774707,0.688220,0.871303,0.200773,0.782164,NaN
gk_handling,-0.412756,0.476644,0.166358,0.235469,0.913703,0.728823,NaN,NaN,0.466320,0.104294,...,NaN,NaN,NaN,0.774707,1.000000,0.714399,0.759656,0.127167,0.851550,NaN
gk_kicking,-0.315085,0.366225,0.131471,0.218895,0.768422,0.621306,NaN,NaN,0.409001,0.159514,...,NaN,NaN,NaN,0.688220,0.714399,1.000000,0.666668,0.177591,0.700956,NaN
gk_reflexes,-0.338896,0.361764,0.146451,0.213276,0.920712,0.789166,NaN,NaN,0.467689,0.076760,...,NaN,NaN,NaN,0.871303,0.759656,0.666668,1.000000,0.184587,0.787258,NaN
gk_speed,0.053817,-0.075734,-0.092596,-0.111404,0.174653,0.202736,NaN,NaN,0.138791,0.077657,...,NaN,NaN,NaN,0.200773,0.127167,0.177591,0.184587,1.000000,0.102960,NaN
gk_positioning,-0.453938,0.532869,0.181184,0.254701,0.926101,0.707424,NaN,NaN,0.483683,0.104712,...,NaN,NaN,NaN,0.782164,0.851550,0.700956,0.787258,0.102960,1.000000,NaN
mentality_composure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#Menampilkan Atribut Dengan Tipe Data Object
ne.dtypes

sofifa_id      int64
player_url    object
short_name    object
long_name     object
age            int64
               ...
lb            object
lcb           object
cb            object
rcb           object
rb            object
Length: 104, dtype: object

In [34]:
#Menampilkan 10 record pertama dari atribut tipe data angka
ne.select_dtypes(include=["int64"]).head(10)

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,skill_moves
0,158023,27,169,67,93,95,0,0,5,3,4
1,20801,29,185,80,92,92,0,0,5,4,5
2,9014,30,180,80,90,90,0,0,5,2,4
3,41236,32,195,95,90,90,0,0,5,4,4
4,167495,28,193,92,90,90,0,0,5,4,1
5,176580,27,181,81,89,91,0,0,5,4,4
6,183277,23,173,74,88,90,0,0,4,4,4
7,7826,30,187,71,88,88,0,0,5,3,4
8,121944,29,183,79,88,88,0,0,4,3,3
9,156616,31,170,72,88,88,0,0,4,4,5

In [35]:
#Merubah nilai balance menjadi bertipe data float dengan 3 angka dibelakang koma
dAngka = ne["age"].astype("float64")*0.001
dAngka

0        0.027
1        0.029
2        0.030
3        0.032
4        0.028
         ...
15460    0.017
15461    0.017
15462    0.018
15463    0.022
15464    0.041
Name: age, Length: 15465, dtype: float64

In [36]:
#Masukkan Informasi Diatas dalan dictionary dengan key sesuai nama
short_name = ["1","2","3","4"]
Type = ["Cristiano Ronaldo","A.Robben","Z Ibrahimovic","M. Never"]
ne = pd.DataFrame(
{
    "short_name":short_name,
    "Type":Type
})

In [37]:
ne.head()

  short_name               Type
0          1  Cristiano Ronaldo
1          2           A.Robben
2          3      Z Ibrahimovic
3          4           M. Never

In [39]:
dAngka.to_csv("Tugas Posttest 2.csv", index=False)